.main {
    display: grid;
    min-height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-left: 30px;
}

.home-div{
    position: relative;
}

.home-div::before {
    content: "";
    background-image: url('/src/pages/tacos.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    background-color: #442525;
}

h1 {
    color:#442525;
}

.homeP {
    grid-row: 2/span1;
    grid-column: 1/3;
    z-index: 1;
}

h1{
    grid-column: 1/span3;
}